settings.py
cache
imagestore
*.pyc
*.swo
*.swp
*.py~
*.scssc
_log
_log/*
db.sqlite-backup
prod.sqlite
prod.sqlite-initial
*.sqlite

static
*.zip
jahjah_works/_themes/jahjah/_assets/cache/*
jahjah_works/_themes/jahjah/_assets/imagestore/*

.DS_Store
*.local.py

keys.py
node_modules
wsgi_local.py
env
tags
#vendor

*.old
.source
compass.ignore
ca.pem
priv.key
ssl.crt
sub.class1.server.ca.pem
jahjahworks/wsgi.py
cache
imagestore
.tox
